[flake8]
max-line-length = 88
exclude =
    */migrations/*,
    scripts/*,
    adhoc/*,
    node_modules/*,
    .venv/*,
    venv/*,
    .tox/*,
    __pycache__/*,
    mediafiles/*,
    .git/*,
    *.json,
