default_language_version:
  python: python

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: update-init-files
        name: Update __init__.py files
        entry: poetry run python scripts/update_init.py --all
        language: system
        pass_filenames: false
        always_run: true

      - id: generate-url-docs
        name: Generate URL documentation
        entry: poetry run python scripts/generate_url_docs.py
        language: system
        pass_filenames: false
        always_run: true

      - id: detect-empty-fstring
        name: Detect empty f-strings & bare excepts
        entry: python scripts/detect_fstrings_without_placeholder.py
        language: system
        files: '\.py$'
        types: [python]

  # autoflake for removing unused imports and variables
  - repo: https://github.com/pycqa/autoflake
    rev: v2.1.1
    hooks:
      - id: autoflake
        name: Remove unused imports & variables
        args:
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
        files: '\.py$'
        types: [python]

  # black for formatting
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
        name: Format Python code with black
        args:
          - --quiet
        files: '^(?:apps/|jobs_manager/).+\.py$'
        types: [python]

  # isort for imports
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: Sort imports with isort
        entry: isort
        language: python
        types: [python]
        args:
          - "--profile=black"
          - "--skip-glob=**/__init__.py"
        files: '^(?:apps/|jobs_manager/).+\.py$'
        exclude: |
          (?x)^(
              .*__init__\.py$ # any __init__.py files
          )

  # flake8 for validation of E722, F401, etc
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        name: Lint Python with flake8
        args:
          - --max-line-length=88
          - --extend-ignore=E203,W503,E501
        files: '^(?:apps/|jobs_manager/).+\.py$'
        types: [python]
