[
  {
    "model": "workflow.aiprovider",
    "pk": 1,
    "fields": {
      "name": "Claude",
      "provider_type": "Claude",
      "api_key": "sk-ant-YOUR_ANTHROPIC_KEY_HERE",
      "model_name": "claude-sonnet-4-20250514",
      "default": true
    }
  },
  {
    "model": "workflow.aiprovider",
    "pk": 2,
    "fields": {
      "name": "Gemini",
      "provider_type": "Gemini",
      "api_key": "YOUR_GEMINI_KEY_HERE",
      "model_name": "gemini-2.5-flash",
      "default": false
    }
  },
  {
    "model": "workflow.aiprovider",
    "pk": 3,
    "fields": {
      "name": "Mistral",
      "provider_type": "Mistral",
      "api_key": "YOUR_MISTRAL_KEY_HERE",
      "model_name": "mistral-ocr-latest",
      "default": false
    }
  }
]
