[Unit]
Description=Gunicorn instance to serve jobs_manager (PROD)
After=network.target

[Service]
User=django_user
Group=www-data
WorkingDirectory=/home/django_user/jobs_manager
UMask=0002
ExecStart=/home/django_user/jobs_manager/.venv/bin/gunicorn \
          --workers 3 \
          --timeout 180 \
          --umask 0002 \
          --bind unix:/home/django_user/jobs_manager/gunicorn.sock \
          jobs_manager.wsgi:application
Environment=DJANGO_ENV=production_like

[Install]
WantedBy=multi-user.target
