[Unit]
Description=Jobs Manager Scheduler
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/workflow_app/jobs_manager
Environment=PATH=/opt/workflow_app/jobs_manager/.venv/bin
ExecStart=/opt/workflow_app/jobs_manager/.venv/bin/python manage.py run_scheduler
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
